{%- if template.name == "index" -%}
  <div class="flex justify-around py-4">

    <a href="/pages/contact" class="w-8 h-8">
      {% render 'icon-3d-model' %}
    </a>
    <a href="/pages/contact" class="w-8 h-8">
      {% render 'icon-3d-model' %}
    </a>
    <a href="/pages/contact" class="w-8 h-8">
      {% render 'icon-3d-model' %}
    </a>
    <a href="/pages/contact" class="w-8 h-8">
      {% render 'icon-3d-model' %}
    </a>

  </div>
{%- endif -%}