{%- if template.name == "index" -%}
  <div class="flex justify-around">
    {% render 'icon-3d-model', class: 'w-4' %}
    {% render 'icon-3d-model', class: 'w-4' %}
    {% render 'icon-3d-model', class: 'w-4' %}
    {% render 'icon-3d-model', class: 'w-4' %}
  </div>
{%- endif -%}