@tailwind base;
@tailwind components;
@tailwind utilities;

// variables
$btn-height: 44px;
 
// Helpers 将废弃
.page-width {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
}

// buttons
// .shopify-payment-button {
//   button {
//     @apply rounded-sm bg-black text-white;
//     min-height: $btn-height !important;
//   }
//   .shopify-payment-button__more-options {
//     @apply mt-2;
//   }
// }

// .button__primary {
//   @apply my-2 flex items-center rounded-sm bg-black px-6 text-white;
//   min-height: $btn-height;
// }

// product form
// .product-form__input {
//   // select label after checked radio input
//   input[type="radio"]:checked + label {
//     @apply bg-black text-white;
//   }
// }

// Collection filter
.filter-form {
  .filter-group {
    &[open] {
      .arrow-icon {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}
